<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.heuacm.mapper.ChatAnswerMapper">
        <insert id="add" parameterType="ChatAnswer" >
            insert into chatanswer (chatid,content,vote,userid,visible,dt,accept)
 			values (#{chatid},#{content},#{vote},#{userid},#{visible},#{dt},#{accept})   
        </insert>
         
        <delete id="delete" parameterType="ChatAnswer" >
            delete from chatanswer where id= #{id}   
        </delete>
         
        <select id="get" parameterType="_int" resultType="ChatAnswer">
            select * from chatanswer where id= #{id}    
        </select>
 		 		
 		<select id="getaccept" parameterType="_int" resultType="ChatAnswer">
            select * from chatanswer where chatid= #{chatid} and accept=true    
        </select>
 		 
        <update id="update" parameterType="ChatAnswer" >
            update chatanswer set chatid=#{chatid},content=#{content},vote=#{vote},
            userid=#{userid},visible=#{visible},dt=#{dt},accept=#{accept} where id=#{id}    
        </update>
        
        <select id="listAll" parameterType="_int" resultType="ChatAnswer">
            select * from chatanswer where chatid=#{chatid}
        </select>
        
        <select id="listVisible" parameterType="_int" resultType="ChatAnswer">
        select * from chatanswer where chatid=#{chatid} and visible=true
        </select>
    </mapper>